---
// Global styles
import "../styles/global.css"

// Components
import { Header, Hero, Features } from "../components";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
		<title>Bookmark</title>
	</head>
	<body>
		<main>
			<Header client:load />
			<Hero client:load />
			<Features client:load />
		</main>
	</body>
</html>
