.questions {
  padding: 8rem 0;
}

.questions__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion-group {
  margin-top: 3.2rem;
  width: 50%;
  margin-bottom: 3.2rem;
}

.accordion {
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion__btn {
  width: 100%;
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.accordion__btn:hover .accordion__title {
  color: var(--softRed);
}

.accordion__btn[aria-expanded="true"] .accordion__icon {
  transform: rotate(-180deg);
}

.accordion__btn[aria-expanded="true"] .accordion__icon svg path {
  stroke: var(--softRed);
}

.accordion__panel {
  padding-top: 1.4rem;
}

.accordion-panel[hidden] {
  display: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 56.5em) {
  .accordion-group {
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .accordion-group {
    width: 100%;
  }
}
